<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h4 class="message">Send us a message </h4>
                <form class="contact-form " method="post" action="{{ path('send_mail') }}">
                    <p class="contact-form-name">
                        <label for="name">Name <span class="required">*</span></label>
                        <input type="text" aria-required="true" size="30" value="" name="name" id="name"
                               class="form-control" placeholder="Name">
                    </p>
                    <p class="contact-form-email">
                        <label for="email">Email <span class="required">*</span></label>
                        <input type="email" aria-required="true" value="" name="email" id="email" class="form-control"
                               placeholder="Email">
                    </p>
                    <p class="contact-form-subject">
                        <label for="subject">Subject <span class="required">*</span></label>
                        <input type="text" aria-required="true" size="30" value="" name="subject" id="subject"
                               class="form-control" placeholder="Subject">
                    </p>
                    <p class="contact-form-message">
                        <label for="message">Message</label>
                        <textarea aria-required="true" rows="8" cols="45" name="message" id="message"
                                  class="form-control" placeholder="Message"></textarea>
                    </p>
                    <p class="contact-form-submit vertical-margin-40">
                        <input type="submit" value="Send" id="contact_form_submit" name="contact_submit"
                               class="btn btn-primary">
                    </p>
                </form>
            </div>
            <div class=" col-md-4 col-sm-4">
                <h4 class="aboutus">About us</h4>
                <p>PhoneContactsManagement.com
                    <br>
                    <span><strong>Phone:</strong> </span>(+216) 56148514
                    <br>
                    <span><strong>Email:</strong> </span> <a href="mailto:info@PhoneContactsManagement.com">info@PhoneContactsManagement.com</a>
                    <br>Our object is simple: make phone contacts management online, easy, secure and accessible
                    wherever you are.
                </p>
            </div>
            <div class="col-md-4 col-sm-4">
                <h4 class="followUs">Follow us</h4>
                <div id="social-bar">
                    <a href="https://www.facebook.com"><i class="fa fa-facebook-square fa-2x"></i></a>
                    <a href="https://www.twitter.com"><i class="fa fa-twitter fa-2x"></i></a>
                    <a href="https://plus.google.com"><i class="fa fa-google-plus fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
